{% from 'form_helper.html' import displayField %}
{% extends "prelogin-layout.html" %}
{% block title %} Registration1 {% endblock %}
{% block content %}
<h1>you really are not supposed to be here. This is for some backend stuff and not part of the lesson</h1>
<form action = "{{ url_for('register')}}", method="POST">
    
        
        {{ displayField(form.username,'Username',autocomplete='off',autofocus = true) }}
        {{ displayField(form.password,'Password') }}
        {{ displayField(form.confirm_password,'Retype Password') }}
        {{ displayField(form.admin_key,'Admin Key') }}
        <div>
                {{form.submit_button}}
        </div>
        {{ form.csrf_token }}
</form>
{% endblock %}
